hr{
  margin-right: 100px;
  margin-left: 100px;
  color: coral;
}

.footage {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  background-color: antiquewhite;
}

.footageText {
  font-family: Georgia, serif;
  font-size: 15px;
  color: coral;
  position: center;
  text-align: center;
  display: block;
  padding-top: 5px;
}

.link-toolbar {
  position: relative;
  padding-top: 7%;
  text-align: center;
  display: block;
}

.link-icon {
  color: coral;
  font-size: 150%;
  margin: 2% 2% 2% 2%;
}
