hr{
  margin-right: 100px;
  margin-left: 100px;
  color: coral;
}

.footage {
  font-family: Georgia, serif;
  font-size: 15px;
  color: coral;
  position: center;
  text-align: center;
  display: block;
}

.link-toolbar {
  text-align: center;
  display: block;
}

.link-icon {
  color: coral;
  font-size: 150%;
  margin: 1% 1% 1% 1%;
}
