<hr>
<div class="footage">
  <div class="link-toolbar">
    <a href="{{links.githubUri}}">
      <span class="pi pi-github link-icon"></span>
    </a>
    <a href="{{links.twitterUri}}">
      <span class="pi pi-twitter link-icon"></span>
    </a>
    <a href="{{links.instagramUri}}">
      <span class="pi pi-instagram link-icon"></span>
    </a>
    <a href="{{links.linkedinUri}}">
      <span class="pi pi-linkedin link-icon"></span>
    </a>
  </div>
  <span class="footageText">aborolabis 2022 | all rights reserved ®</span>
</div>
